a {
  color: white;
  text-decoration: none;
}

.button {
  height: 40px;
  border: 1px solid #1976d2;
  color: #1976d2;
  background-color: #fff;
  border-radius: 5px;
  font-size: medium;
  padding: 5px 20px;
}

.button:hover {
  cursor: pointer;
}

.editModal {
  padding: 30px;
  display:  flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

